<p id="notice"><%= notice %></p>

<h1>Cones Ativos</h1>

<table>
  <thead>
    <tr>
      <th>Price</th>
      <th>Status</th>
      <th>Wallet</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cones.each do |cone| %>
      <tr>
        <td><%= cone.price %></td>
        <td><%= cone.status %></td>
        <td><%= cone.wallet_hash %></td>
        <td><%= cone.position %></td>
      </tr>
    <% end %>
  </tbody>
</table>
