<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @cone.price %>
</p>

<p>
  <strong>Status:</strong>
  <%= @cone.status %>
</p>

<%= link_to 'Edit', edit_cone_path(@cone) %> |
<%= link_to 'Back', cones_path %>
