<!DOCTYPE html>
<html>
  <head>
    <title>Bitcone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <%= render partial: 'layouts/partials/side_nav' if user_signed_in? %>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer></footer>

  </body>
</html>
